/Fish.class
/IBicycle.class
/IMotor.class
/Mammal.class
/MotorBicycle.class
/MyColorPoint.class
/MyPoint.class
/Prob001_abstract.class
/Prob002_interface.class
/Prob003_interface_abstract.class
/Whale.class
